body{
    background-color: aqua;
}
form{
    text-align: center;
}

h1{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

button:hover{
background-color: rgb(249, 0, 0) ;
}

button{
    border-radius: 60px;
}

label{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}